.app-container {
  margin:  20px;
}
.rated-btn {
  padding-bottom: 20px;
}

.search-container {
  margin: 20px 0;
  display: flex;
}

.search-container > div {
  padding-left: 20px;
}

.search-container > button {
  margin-left: 20px;
}
